In [1]:
#import libraries
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
#read file
hr = pd.read_csv('HR-Employee-Attrition.csv')

In [3]:
#take a quick look of data
hr.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
Over18                      1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(26), object(9)
memory usage: 350.3+ KB

In [5]:
#check for missing values
missing_values_count = hr.isnull().sum()
missing_values_count[:]

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [6]:
#drop duplicates data
hr = hr.drop_duplicates()

In [7]:
#drop columns tha we wont need
hr = hr.drop(columns=['Attrition','DailyRate','EducationField','EmployeeCount','EmployeeNumber','EnvironmentSatisfaction','HourlyRate','JobInvolvement','JobLevel','JobRole','JobSatisfaction','MonthlyIncome','MonthlyRate','Over18','PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','StandardHours','StockOptionLevel','TrainingTimesLastYear','WorkLifeBalance','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager'])

In [8]:
hr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1470 entries, 0 to 1469
Data columns (total 11 columns):
Age                   1470 non-null int64
BusinessTravel        1470 non-null object
Department            1470 non-null object
DistanceFromHome      1470 non-null int64
Education             1470 non-null int64
Gender                1470 non-null object
MaritalStatus         1470 non-null object
NumCompaniesWorked    1470 non-null int64
OverTime              1470 non-null object
TotalWorkingYears     1470 non-null int64
YearsAtCompany        1470 non-null int64
dtypes: int64(6), object(5)
memory usage: 109.1+ KB

In [9]:
#delete emply cells
hr = hr.dropna().reset_index(drop=True)

In [10]:
hr.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,Gender,MaritalStatus,NumCompaniesWorked,OverTime,TotalWorkingYears,YearsAtCompany
0,41,Travel_Rarely,Sales,1,2,Female,Single,8,Yes,8,6
1,49,Travel_Frequently,Research & Development,8,1,Male,Married,1,No,10,10
2,37,Travel_Rarely,Research & Development,2,2,Male,Single,6,Yes,7,0
3,33,Travel_Frequently,Research & Development,3,4,Female,Married,1,Yes,8,8
4,27,Travel_Rarely,Research & Development,2,1,Male,Married,9,No,6,2

In [11]:
# count distinct value of "Gender,MaritalStatus,OverTime,Department"
unique_id = len(pd.unique(hr["Gender"]))
unique_id1 = len(pd.unique(hr['MaritalStatus']))
unique_id2= len(pd.unique(hr['OverTime']))
unique_id3 = len(pd.unique(hr["Department"]))

print("# of unique gender: " + str(unique_id))
print("# of unique marital: " + str(unique_id1))
print("# of unique overtime: " + str(unique_id2))
print("#of unique department:" +str(unique_id3))

# of unique gender: 2
# of unique marital: 3
# of unique overtime: 2
#of unique department:3

In [12]:
hr.groupby(['Gender']).size()

Gender
Female    588
Male      882
dtype: int64

In [13]:
s1 = (hr['OverTime']=='Yes').sum()
s2 = (hr['OverTime']=='No').sum()

In [14]:
print("overtime:", s1 ,",no overtime:", s2)

overtime: 416 ,no overtime: 1054

In [15]:
hr.groupby(['Gender','OverTime']).size()

Gender  OverTime
Female  No          408
        Yes         180
Male    No          646
        Yes         236
dtype: int64

In [16]:
hr.groupby(['Gender','MaritalStatus']).size()

Gender  MaritalStatus
Female  Divorced         117
        Married          272
        Single           199
Male    Divorced         210
        Married          401
        Single           271
dtype: int64

In [17]:
hr.groupby(['Gender','Department']).size()

Gender  Department
Female  Human Resources            20
        Research & Development    379
        Sales                     189
Male    Human Resources            43
        Research & Development    582
        Sales                     257
dtype: int64

In [18]:
hr.groupby(['Gender','BusinessTravel']).size()

Gender  BusinessTravel
Female  Non-Travel            49
        Travel_Frequently    117
        Travel_Rarely        422
Male    Non-Travel           101
        Travel_Frequently    160
        Travel_Rarely        621
dtype: int64

In [19]:
hr.groupby(['Gender','OverTime','Department','Age']).size()

Gender  OverTime  Department              Age
Female  No        Human Resources         25      1
                                          26      1
                                          27      1
                                          30      1
                                          31      1
                                          34      1
                                          39      2
                                          42      1
                                          44      1
                                          45      1
                                          46      1
                                          47      1
                                          59      1
                  Research & Development  18      2
                                          19      1
                                          20      1
                                          21      3
                                          22      2
                                          23      1
                                          24      3
                                          25      2
                                          26      6
                                          27     11
                                          28      7
                                          29     14
                                          30     11
                                          31     12
                                          32     14
                                          33     10
                                          34     18
                                                 ..
Male    Yes       Sales                   19      2
                                          21      1
                                          23      1
                                          25      4
                                          26      1
                                          27      2
                                          28      1
                                          29      1
                                          31      3
                                          32      2
                                          33      1
                                          34      5
                                          35      5
                                          36      4
                                          37      2
                                          38      2
                                          39      1
                                          40      4
                                          41      2
                                          42      2
                                          43      2
                                          45      1
                                          46      2
                                          50      5
                                          51      2
                                          52      2
                                          53      2
                                          55      1
                                          59      1
                                          60      1
Length: 342, dtype: int64